.header {
  color: slateblue;
  background-color: midnightblue;
}

.new {
  color: navy;
  background-color: goldenrod;

}

.post {
  color: whitesmoke;
  background-color: indigo;
}

.new, .post {
  margin-top: 100px;
  margin-bottom: 100px;
}

.me {
  color: palevioletred;
  background-color: navy;
}

a {
  color: navy;
}